<nav class="navbar navbar-expand-md navbar-light bg-dark border-bottom">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <h3 style="color: rgb(224, 145, 238)">Homelynest</h3> 

        <div class="navbar-nav">
            <a class="nav-link" href="/listings">Home</a>
            <a class="nav-link" href="/listings/new">Add new Listing</a>
            <a class="nav-link" href="/listings">All listings</a>
        </div>
        <div class="navbar-nav ml-auto"> <!-- Changed from ms-auto to ml-auto -->
            <%if(!currUser) { %>
            <a class="nav-link" href="/signup">Signup</a>
            <a class="nav-link" href="/login">Login</a>
            <% } %>
            <% if(currUser) {%>
            <a class="nav-link" href="/logout">Logout</a>
            <% }  %>
             
        </div>
    </div>
</nav>
