


body{
    display: flex;
    flex-direction: column;
    
    font-family: "Plus Jakarta Sans", sans-serif !important;
   min-height:100vh ; 
}

.container{
    flex: 1;
}


/* navbar */
.fa-compass{
    color: red;
    font-size: 2rem;
}
.navbar{
   height: 5rem;
   margin-bottom: 1rem;
   background-color: rgba(255, 225, 0, 0.396);
}
.nav-link{
   color: whitesmoke !important;
}
/* footer  */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .social-media {
    margin-top: 10px;
}

/* card */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}
 
.card-text {
    font-weight: 400 !important;
 color: black;
}

.listing-link {
    text-decoration: none !important
}


/* card effect */
.card-img-overlay{
opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}


/* new listing */

.add-btn{
    background-color:brown !important;
    border:none !important
}
/* show listing page */
.card-img-top{
    height: 30vh;
}
.btns{
    display: flex;
    gap: 10px;
}